<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    
<title>PM services</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">

</head>


<body>

  {% include 'navbar.html' %}



<!-- ABOUT AGREGAR MAS SOBRE MI, BIOGRAFIA COMPLETA -->

 <!-- ABOUT -->
  <section class="about" id="about">
    
      <div class="container" id="container">

       <div class="about-image2">
  <img src="{{ url_for('static', filename='marianna2.JPEG') }}" alt="Marianna Alvarez">
</div>

    <div class="about-text">

      <h3>ABOUT ME</h3>

      <p>

Hi, I’m Marianna—a Project Manager and UX specialist with an unconventional background that bridges architecture, education, and technology.
<br>
I earned my degree in Architecture from Santiago Mariño University in Venezuela (2014–2020). As opportunities in my country became limited, I decided to reinvent myself and explore new paths in the digital world.
<br><br>
Before moving into tech, I spent three years teaching conversational Spanish and English to students around the world—a period that strengthened my communication, empathy, and adaptability, especially during the Covid era.
<br><br>
In 2021, I began my tech journey as a UX designer, exploring digital product design, production, and quality assurance. As I grew within Red.dev, I found my passion in project management—coordinating remote, multidisciplinary teams and delivering user-centered solutions for startups in the US, Spain, and Latin America.
<br><br>
I’m certified by PMI (CAPM®) and Google in Product Management, and I’m skilled in agile methodologies, user research, and tools like Trello, Asana, and Odoo. My focus is on clear communication, efficient workflows, and building meaningful bridges between design, development, and stakeholders.
<br><br>
Outside of work, I’m passionate about music, calisthenics, and exploring new cultures.
<br><br>

<blockquote class="about-quote">
  <em>
    I truly believe that humans are not robots—people are not disposable objects to be used and thrown away. Our tools should empower us to work better and live healthier, more fulfilling lives. <br> <br>Every project is a chance to learn, grow, and create a positive impact—together.
  </em>
</blockquote>

      </p>
   
</div>
    
  


    </div>
  </section>

      <!-- FOOTER -->

{% include 'footer.html' %}

</html>