
<!-- FOOTER -->
<footer id="contact" class="footer">
    <div class="footer-info">
    <a href="{{ url_for('contact') }}">Contact</a>
        <p>Email: <a href="mailto:mariprofessional001@email.com">mariprofessional@outlook.com</a></p>
        <p>Location: Barcelona, Spain</p>
    </div>

    <div class="footer-redes">
        <h3>Follow me</h3>

<p>You can find me on:</p>

  <div class="social-icons">
    <a href="https://www.linkedin.com/in/majoalfig" target="_blank">
      <img src="{{ url_for('static', filename='linkedin-logo.svg') }}" alt="LinkedIn" />
    </a>

    
    <a href="https://x.com/arq_marii" target="_blank">
      <img src="{{ url_for('static', filename='x-logo.svg') }}" alt="X (Twitter)" />
    </a>
  </div>
    </div>

    <p class="footer-copy">© 2025 Marianna Alvarez. Todos los derechos reservados.</p>
</footer>

</html>