  <!-- NAVBAR -->
    <header class="navbar">
        <div class="logo" id="logo">
          <!-- <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Logo" /> --> 
            <span>Marianna Alvarez</span>
        </div>

        <nav class="nav-links">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('projects') }}">Projects</a>
            <a href="{{ url_for('contact') }}">Contact</a>
        </nav>
    </header>